* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 14px;
  color: #0f172a;
  line-height: 1.5;
  background-color: #F0F2F5;
}
html {
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: inherit;
}
